@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    min-height: 0vh;
}

.text-container img {
    border-radius: 100%;
    width: 45%;
}

.text-container {
    text-align: center;
    max-width: 600px;
    margin: 100px auto;
    padding-left: 2em;
    position: relative;
}

.text-container h1 {
    font-size: 3rem;
    padding-bottom: 0.5em;
}

.text-container p,
.text-container a {
    font-size: 1.2rem;
    padding-top: 1em;
    display: block;
    text-decoration: none;
}

.design-1 {
    position: absolute;
    top: 5em;
    left: 2em;
}

.design-2 {
    position: absolute;
    top: 0;
    right: 2em;
}

.design-3 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.design-4 {
    position: absolute;
    left: 0;
    bottom: 0;
}

.design img {
    width: 70%;
}

@media only screen and (min-width:768px) {
    .text-container {
        max-width: 800px;
        margin: 70px auto;
    }

    .text-container h1 {
        font-size: 4rem;
        /* background-color: yellow; */
    }

    .text-container img {
        width: 30%;
    }

    .design-1 {
        position: absolute;
        top: 5em;
        left: 2em;
    }

    .design-2 {
        position: absolute;
        top: 3em;
        right: 2em;
    }

    .design-3 {
        position: absolute;
        right: 3em;
        bottom: 5em;
    }

    .design-4 {
        position: absolute;
        left: 3em;
        bottom: 5em;
    }
}